/*Page animations----------------------------*/

//Fade
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-exit-done {
  opacity: 0;
  visibility: hidden;
}

// Slide
.slide-enter {
  transform: translateX(-100%);
}

.slide-enter-active {
  animation: slide-in 300ms ease-out forwards;
}

.slide-exit {
  transform: translateX(100%);
}

.slide-exit-active {
  animation: slide-out 300ms ease-out forwards;
}

.slide-reverse-enter {
  transform: translateX(100%);
}

.slide-reverse-enter-active {
  animation: slide-in-reverse 300ms ease-out forwards;
}

.slide-reverse-exit {
  transform: translateX(-100%);
}

.slide-reverse-exit-active {
  animation: slide-out-reverse 300ms ease-out forwards;
}

// Slide vertical
.slidev-enter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: left top;
}

.slidev-enter-active {
  overflow: hidden;
  opacity: 1;
  transform: scaleY(1);
  transform-origin: left top;
  transition: all 300ms ease-in-out;
}

.slidev-exit {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: left top;
}

.slidev-exit-active {
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: left top;
  transition: all 300ms ease-in-out;
}

.slidev-exit-done {
  display: none;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-reverse {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}