/*Utils----------------------------------*/

//General
.fluid {
  display: block;
}

.underline {
  text-decoration: underline !important;
}

.pointer {
  cursor: pointer !important;
}

//Flexbox
.d-flex {
  display: flex !important;
  flex-flow: row !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.d-flex-column {
  display: flex !important;
  flex-flow: column !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-stretch {
  justify-content: stretch !important;
}

.flex-stretch-self {
  flex: 1 auto !important;
}

.flex-nostretch-self {
  flex: 0 !important;
  width: auto !important;
}

//Margins
.margin-auto {
  margin: auto !important;
}

.no-margin {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mtb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mtb-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.mtb-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

//Paddings
.no-padding {
  padding: 0 !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

//Text
.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: none !important;
}